.main {
    background-color: bisque;
    height: 140px;
}
.main-top{
    position: relative;
    bottom: 23px;
}
.main .topic{
    position: relative;
    top: 35%;
}
.topic{
    text-align: center;
    color: coral;
    font-family: "Bell MT";
    font-size: 40px;
}