

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

img{
    width: 200px;
    height: 280px;
}
.share{
    /*position: absolute;*/
    /*top: 82%;*/
}
.item{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 25px;
    padding-bottom: 14px;
    margin-left: 10px;
    margin-right: 69px;
}

p{
   margin: 6px;
}

.text{
    text-align: center;
}

button{
    width: fit-content;
}